@font-face {
  font-family: 'MNChiangSaenLi';
  src: url(font/MN\ ChiangSaen\ Li\ v3.2.1.ttf);
}
*{
font-family:'MNChiangSaenLi';
font-weight: bold;

}body{
background-color: gray;
}
.dropdown-item{
font-family:'MNChiangSaenLi';
  font-weight: bold;
  
}
div #bar{
margin: 0 auto;
max-height: 70px;
}#header{
position: relative;
font-size:18px;
}
.fixed-top{
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
}
div #header .navbar-nav {
width: calc(100% +20px);
/* }div #header.fixed {
position: fixed;
top: 0;
-webkit-transition: all 0.5s;
transition: all 0.5s;
-webkit-box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1); */
/* }div #header .header .navigation-menu .menu {
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
list-style: none;
margin: 0; */
}div #header .fixed {
position: fixed;
top: 0;
-webkit-transition: all 0.5s;
transition: all 0.5s;
-webkit-box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);

}
div{
display:block;
}.align-items-center {
-webkit-box-align: center !important;
    -ms-flex-align: center !important;
        align-items: center !important;
}.flex-wrap {
-ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}.justify-content-between {
-webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
}  .d-md-flex {
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
}.d-none {
display: none !important;
}h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  line-height: 1.2;
}h1, .h1 {
  font-size:36px;
}:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ef3239;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #8fc14e;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #f8f8f8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #8fc14e;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #ef3239;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Raleway", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dropdown-content {
display: none;

position: absolute;
background-color: #f9f9f9;
min-width: 380px;
padding: 12px 16px;
z-index: 1;
border-top:0.5px solid rgba(0, 143, 36, 0.849) ;
}.dropdown {
position: relative;
display: inline-block;
}.dropdown:hover .dropdown-content {
display: block;
}.btn{
position: absolute;
right: 0;
}
@media (max-width:768px) { 
.navigation-logo{
  left: 0;
  position: absolute;
  margin-top: 10px;
}
}
.img-list{
width: 60px;
padding-right: 10px;
padding-bottom: 0px;

}ul{
list-style: none;
padding-left: 0;
}li{
color: #919191;
font-weight: 100;

}li:hover{
color:#4ecf6e;
}li.nav-item:hover{
color:#4ecf6e;
fill:#4ecf6e;

}p#pho:hover{
color: #4ecf6e;
}.item{
margin-top: -15px;
padding-top: 0px;
padding-bottom: 0px;
}
#dots{
  background-color: rgb(112, 112, 112);
  border-radius:100% ;
  width: 10px;
  height: 10px;
  margin: 5 7;
}
#dots.active{
  background-color: #8fc14e;
}
.cover .font-new .bg-font {
  background-image: src="(img/CONTACTUS/contact-us-new.png)";
  padding: 9px 6%;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#8fc14e), color-stop(43%, rgba(143, 193, 78, 0.674107)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #8fc14e 0%, rgba(143, 193, 78, 0.674107) 43%, rgba(255, 255, 255, 0) 100%);
}
 

div .owl-theme .owl-nav {
  position: absolute;
  margin: 0;
  top: calc(-45px - 15px - 10px);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}div .owl-theme .owl-nav button.owl-prev:active, div .owl-theme .owl-nav button.owl-prev:focus,
div .owl-theme .owl-nav button.owl-next:active,
div .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}div .owl-theme .owl-nav button.owl-prev:hover,
div .owl-theme .owl-nav button.owl-next:hover {
  background: #e1e1e1;
}div .owl-theme .owl-nav button.owl-prev:hover i,
div .owl-theme .owl-nav button.owl-next:hover i {
  color: #f8f8f8;
}div .owl-theme .owl-nav button.owl-prev,
div .owl-theme .owl-nav button.owl-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 15px !important;
  background: #eee;
  border-radius: 100px;
  -webkit-transition: all 0.3s cubic-bezier(0.98, 0.01, 0.14, 0.99);
  transition: all 0.3s cubic-bezier(0.98, 0.01, 0.14, 0.99);
}

div .owl-theme .owl-nav button.owl-prev i,
div .owl-theme .owl-nav button.owl-next i {
  color: #acacac;
  font-size: 14px;
}.tag{
  color: #acacac;
  line-height: 1.1 !important;
  font-size: 20px;
  font-weight: 400;
}p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}.description{
  font-size: 24px;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-width: 100%;
  min-height: 53px;
  font-weight: 600;
  color: #6c757d;
} .recipe {
  width: 50%;
  padding: 10px 0;
  align-items: center;
  background-color: #8fc14e;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-size: 24px;
  color: #f8f8f8;
  -webkit-transition: all 0.3s cubic-bezier(0.98, 0.01, 0.14, 0.99);
  transition: all 0.3s cubic-bezier(0.98, 0.01, 0.14, 0.99);
  text-align: center !important;
}
