@font-face {
    font-family: 'MNChiangSaenLi';
    src: url(font/MN\ ChiangSaen\ Li\ v3.2.1.ttf);
  }
*{
  font-family:'MNChiangSaenLi';
  font-weight: bold;
  font-size:20px;
}body{
  background-color: gray;
}
.dropdown-item{
  font-family:'MNChiangSaenLi';
    font-weight: bold;
    
}
div #bar{
  margin: 0 auto;
}#header{
  min-height: 90px;
  position: relative;
}
div #header .navbar-nav {
  width: calc(100% + 20px);
}div #header.fixed {
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
}div #header .header .navigation-menu .menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}div #header .fixed {
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1);
}@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}div{
  display:block;
}.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}  .d-md-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}.d-none {
  display: none !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 360px;
  padding: 12px 16px;
  z-index: 1;
  border-top:0.5px solid rgba(0, 143, 36, 0.849) ;
}.dropdown {
  position: relative;
  display: inline-block;
}.dropdown:hover .dropdown-content {
  display: block;
}.btn{
  position: absolute;
  right: 0;
}
@media (max-width:700px) { 
  .navigation-logo{
    left: 0;
    position: absolute;
    margin-top: 10px;
  }
}
.img-list{
  width: 60px;
}ul{
  list-style: none;
  padding-left: 0;
}li{
  color: #919191;
  font-weight: 100;
  
}li:hover{
  color:#4ecf6e;
}li.nav-item:hover{
  color:#4ecf6e;

}p:hover{
  color: #4ecf6e;
}
.navbar-nav{
  margin-top: 10px;
}